* {
  margin: 0;
  padding: 0;
}

body {
  width: 1600px;
  margin: auto;
}

/* Kravchenko */

/* section one */

.single_feature_1 {
  width: 1203px;
  height: 464px;
  margin: 67px 0 0 227px;
}

.single_feature_1_img {
  float: right;
  position: relative;
  margin: -55px -130px 0 0;
}

.single_feature_1_text_block {
  width: 370px;
  height: 398px;
  float: left;
  margin-top: 36px;
}

.single_feature_1_text_block h3,
.single_feature_2_text_block h3 {
  font-weight: 600;
  font-size: 45px;
  line-height: 68px;
  color: #021206;
  height: 136px;
}

.single_feature_1_text_block p {
  width: 370px;
  height: 58px;
  padding-top: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.single_feature_1_list {
  list-style: none;
}

.single_feature_1_list_item::before {
  content: url(' ../img/img_tick.png ');
  vertical-align: middle;
}

.single_feature_1_list_item {
  height: 29px;
  padding-top: 16px;
}

.single_feature_1_list_item:first-child {
  padding-top: 20px;
}

/* section two */

.single_feature_2 {
  width: 1184px;
  height: 440px;
  margin-left: 130px;
  position: relative;
  margin-top: 208px;
}

.single_feature_2_img {
  float: left;
  margin: -75px 0 0 -135px;
}

.single_feature_2_text_block {
  width: 500px;
  height: 345px;
  position: absolute;
  left: 774px;
  top: 48px;
}

.single_feature_2_text_block h3 {
  width: 400px;
}

.single_feature_2_text_block p {
  width: 400px;
  height: 87px;
  font-weight: 400;
  font-size: 18px;
  line-height: 29p;
  color: #021206;
  padding-top: 15px;
}

.single_feature_2_text_block :nth-child(2) {
  padding-top: 20px;
}

.single_feature_2_text_block span {
  font-weight: 600;
}

/* HERO AREA */

.header {
  display: flex;
}

.logo {
  margin-left: 80px;
}

.navigation_item {
  display: flex;
  list-style: none;
  align-items: center;
  text-decoration: none;
  margin-top: 52px;
  margin-left: 275px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.item {
  color: #021206;
  text-decoration: none;
}

.feature {
  margin-right: 53px;
}

.download {
  margin-right: 37px;
}

.pricing {
  margin-right: 221px;
}

.button {
  margin-top: 40px;
}

.login {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  background-color: #fff;
  border: 0px solid #ffffff;
  margin-right: 23px;
  cursor: pointer;
}

.sign {
  background-color: #f44545;
  border: 0px solid #f44545;
  padding: 15px 30px;
  font-family: 'Poppins', sans-serif;
  border-radius: 6px;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
}

.hero {
  width: 487px;
  margin-top: 100px;
  margin-left: 148px;
  position: relative;
}

.text {
  font-family: 'Poppins', sans-serif;
}

.text h1 {
  font-weight: 600;
  font-size: 54px;
  line-height: 81px;
}

.step {
  color: #4edaac;
}

.medium_dote {
  position: absolute;
  width: 7px;
  height: 7px;
  left: 402px;
  top: 133px;
  border-radius: 3px;
  background: #4edaac;
}

.small_dote {
  position: absolute;
  width: 5px;
  height: 5px;
  left: 412px;
  top: 134.4px;
  background: #4edaac;
  border-radius: 3px;
}

.text p {
  margin-top: 20px;
  width: 509px;
  font-weight: 400;
  font-size: 21px;
  line-height: 33, 6px;
}

.email {
  padding-top: 30px;
}

.enter {
  width: 320px;
  height: 52px;
  filter: drop-shadow(-5px 5px 45px rgba(2, 18, 6, 0.15));
  border: none;
  padding-left: 25px;
  font-weight: 400;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}

.send {
  width: 120px;
  height: 53px;
  margin-left: -4px;
  background-color: #f44545;
  border: 0px solid #f44545;
  border-radius: 6px;
  margin-left: 15px;
  font-weight: 500;
  font-size: 21px;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  cursor: pointer;
}

.laptop {
  position: absolute;
  top: -100px;
  left: 550px;
}

.social {
  margin-top: 36px;
}

/* dubnickiy */

.logo-company {
  background-color: #f4fcfa;
  display: flex;
  justify-content: space-around;
  padding: 0 227px;
  height: 163px;
  margin-top: 155px;
}
.logo-company > img {
  /* width: 170px; */
  height: 57px;
  padding-top: 50px;
}

.logo-company > img:not(:last-child) {
  margin-right: 85px;
}
.card {
  display: flex;
}
.left {
  margin: 157px 0 0 135px;
  width: 50%;
  box-sizing: border-box;
  padding: 0;
  border: 0;
}
.left_card {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.user-card {
  width: 282px;
  height: 290px;
  border: 1px solid #e6e7e6;
  border-radius: 10px;
}
.user-card:hover {
  box-shadow: 0px 4px 24px #cccccc;
}
.card-text {
  font-size: 19px;
  padding-left: 35px;
  padding-top: 9px;
}
.card-title {
  font-size: 23px;
  padding-left: 35px;
}
.right {
  margin-top: 213px;
  width: 548px;
}
.right-title {
  font-size: 45px;
}
.right-text {
  font-size: 18px;
  padding: 20px 0 21px 0;
}
.right-button {
  width: 183px;
  height: 59px;
  background-color: black;
  color: white;
  font-size: 18px;
  border-radius: 10px;
}
.right-button-text {
  font-size: 18px;
  color: red;
  padding-left: 25px;
}
